<!-- Sample -->
<article class="card">

    <time class="card__date" datetime="<%= event.date %>">
        <span class="event-day"> <%= event.date.getDate() %> </span>
        <span class="event-month"><%= event.date.getMonth() %></span> 
    </time>

    <div class= "card__body">
        <aside class="card__aside">
            <div class="card__image"></div>
        </aside>

        <header class="card__header">

            <div class="card__category --pointer">
                <span class="event-category"><%= event.category %></span>
            </div>

            <div class="card__title">
                <h2 class="card__bigtitle">
                    <%= event.title %> 
                    <span class="card__dropdown --pointer"><i class="fas fa-chevron-down"></i></span>
                </h2>
                <h3 class="card__subtitle">
                    <%= event.place %>
                </h3>
            </div>

        </header>

        <div class="card__subbody">
            <div class="card__copy">
                <p> 
                    <%= event.description %>
                </p>
            </div>
            <div class="card__actions">
                <button class='button'>
                    add to interest
                </button>
                <button class='button'>
                    register to event
                </button>
            </div>
        </div>
    </div>
</article>
<!-- /Sample -->