<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<!-- end head -->

<body>

    <header class="slide" id="header_slide">
        <!-- navbar -->
        <%- include('./partials/navbar.ejs') %>
        <!-- end navbar -->

        <!-- header slide -->
        <main>
            <div>
                <h1>FX Bubbles</h1>
                <p>the place to learn <span>professional makeup</span></p>
                <!-- the place to learn special effects -->
                <!-- the place to learn molding techniques -->
            </div>
        </main>
        <aside class="slide__show">
            <noscript>
                <div class="slide__items" style='background-image: url(./images/Chucky.jpg);'></div>
            </noscript>
        </aside>

        <div class="slide__nav">
        </div>   
        <!-- fin header slide -->
    </header>
     
    <!-- searchbar -->
    <%- include('./partials/searchbar.ejs') %>
    <!-- fin searchbar -->

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- fin footer -->

    <!-- scripts -->
    <%- include('./partials/script.ejs') %>
    <!-- fin scripts -->
</body>
</html>