            <% events.forEach(event => { %>
                <% if (event._id == idEvent) { %>
                <form class="form__body" action="./event/edit/<%= event._id %>" method="POST">

                    <input class="form__input" type="text" name="title" placeholder="Nom de l'évenement" value="<%= event.title %>">
                    <input class="form__input" type="text" name="place" placeholder="Lieu" value="<%= event.place %>">
                    <input class="form__input" type="hidden" name="image" id="imageInput" value="<%= event.image %>" placeholder="">
                    <textarea class="form__input --textaera" type="text" rows="10" name="description"> <%= event.description %> </textarea>
                    <div class="form__input__group">
                        <input class="form__input --date" type="date" name="date" required>
                        <select class="form__input --select" name="category" selected="<%= event.category %>">
                            <option value="workshop">Workshop</option>
                            <option value="festival">Festival</option>
                            <option value="conférence">Conférence</option>
                            <option value="concours">Concours</option>
                            <option value="autres">Autres</option>
                        </select>
                        <div id="upload_widget" class="form__button --upload"><i class="fas fa-plus"></i> image</div>
                    </div>
    
                    <!-- ajout du form cloudinary -->
                    
    
                    <button class="form__button --submit"> Modifier cet evenement </button> <a href="./events" class="form__button">Cancel</a>
                </form>
                <% } %>
            <% }) %>

                
