<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- end navbar -->

    <!-- agenda begin -->
    <% if(user){ %> 
    <main>
        <a href="/admin" class="button">Page admin</a>
        <h1>Hello <%= user%></h1>
    </main>
    <% }else{ %> 
        <h1> Tu n'es pas connecté </h1>
    <% } %> 
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- fin footer -->


    <!-- scripts -->
    <%- include('../partials/script.ejs') %>
    <!-- fin scripts -->
</body>
</html>