<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- end navbar -->

    <!-- agenda begin -->
    <main>
        <header>
            <h2>Agenda</h2>
            <p>What's going on in the world of makeup and special effects right now?</p>
        </header>
        <section id='agenda' class='agenda'>
            <!-- events -->
            <% events.forEach(event => { %>
                <%- include('../components/agenda_event.ejs',{event:event}) %>
            <%})%>
            <!-- end events -->
        </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- fin footer -->


    <!-- scripts -->
    <%- include('../partials/script.ejs') %>
    <script src="/js/agenda.js"></script>
    <!-- fin scripts -->
</body>
</html>