<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- end navbar -->

    <main>
        <header class='block__header'>
            <h2 class='block__title'>Infos</h2>
            <p class='block__subtitle'>Want to know more about Fx Bubbles, its services and more? The easiest way is to come and meet us directly in our workshops, but let's start with a short presentation!</p>
        </header>
        <section id='info' class='info'>
        <!-- info slide -->
        <article class="slide --small" id="info_slide">
            <div class="imposter">
                <div class="imposter__item">
                    <h2>A place to learn professional makeup</h2>
                    <p>the place to learn <span>professional makeup</span></p>
                </div>
            </div>
            <aside class="slide__show">
                <div class="slide__items"></div>
                <noscript>
                    <div class="slide__items" style='background-image: url(./images/Chucky.jpg);'></div>
                </noscript>
            </aside>
        </article>

        <!-- end info slide -->

        <!-- info formateur -->
        <article class="sidebar">
            <aside class="sidebar__aside">
                <div class="sidebar__image"></div>
            </aside>
            <div class="sidebar__body">
                <h2 class="sidebar__title">The mentor:</h2>
                <div class="sidebar__content">
                    <p class="sidebar__text">
                       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consectetur architecto tempora suscipit sapiente distinctio, eius dolore neque, illum rerum quisquam eaque tempore aliquid molestias possimus reiciendis quaerat assumenda expedita? Eaque tempore aliquid molestias possimus hulipo.
                    </p>
                </div>
            </div>
        </article>
        <!-- end info formateur -->

        <!-- contact form -->
        <article class="sidebar">

            <div class="sidebar__body">
                <h2 class="sidebar__title">Contact us:</h2>
                <div class="sidebar__content">
                    <p class="sidebar__text">
                       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consectetur architecto tempora suscipit sapiente distinctio, eius dolore neque, illum rerum quisquam eaque tempore aliquid molestias possimus reiciendis quaerat assumenda expedita? Eaque tempore aliquid molestias possimus hulipo.
                    </p>
                </div>
            </div>

            <div class="sidebar__body" id="signin_form">

                <form class="box__form" action='/signin' method="post" autocomplete="off">
                  
                    <label class="box__form__box --error" for="userMail">
                        <span class="box__form__label">Your name:</span>
                        <input class="box__form__input" type="text" id="userMail" name='mail' autocomplete="off">
                    </label>

                  <% if(error){%>
                    <label class="box__form__box --error" for="userMail">
                      <span class="box__form__label">Your email:</span>
                      <input class="box__form__input" type="text" id="userMail" name='mail' autocomplete="off" required>
                    
                      <span class="box__form__error">
                        <%= error %>
                      </span>
                    </label>
                  <% }else{ %>
                    <label class="box__form__box --error" for="userMail">
                        <span class="box__form__label">Your email:</span>
                        <input class="box__form__input" type="text" id="userMail" name='mail' autocomplete="off" required>  
                    </label>
                    <% }%>

                    <label class="box__form__box" for="message">
                        <span class="box__form__label">Your message:</span>
                        <textarea class="box__form__input --textaera" type="text" id="message" name='message' required>Your message here!
                        </textarea>
                    </label>

                  <button type="submit" class="button"> send it! </button>
              
                </form>
              
            </div>
        </article>

        <!-- end contact form -->

        <!-- info localisation map -->
        <article class="sidebar">
            <aside class="sidebar__map">
                <div id='map' style='width: 600px; height: 300px;'></div>
            </aside>
            <div class="sidebar__body">
                <h2 class="sidebar__title">Nous trouvez:</h2>
                <address class="sidebar__content">
                    Les Glaciéres de Saint-Gilles
                    <br>18, rue de la Glaciére
                    <br>1060 Bruxelles
                </address>

                <span>Tout au fond à droite, la porte coulissante blanche.</span>
            </div>
        </article>
        <!-- end info localisation map -->
    </main>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- fin footer -->

    <!-- scripts -->
    <%- include('../partials/script.ejs') %>
    <!-- fin scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script src="./js/mapbox.js"></script>
    <script src="./js/slides.js"></script>
</body>
</html>