<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- end navbar -->

    <main>
        <section class="box">
            <!-- formulaire indentification -->
            <%- include('../components/account_signup.ejs') %>
            <!-- fin formulaire indentification  -->
            <div class="box__body">
                <h2 class="box__title">SIGN UP</h2>
                <p>iIf you want to keep up to date with industry news and access exclusive content, then you need an account and you are in the right place to create it!</p>
            </div>
            
        </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- fin footer -->


    <!-- scripts -->
    <%- include('../partials/script.ejs') %>
    <!-- fin scripts -->
</body>
</html>