<!DOCTYPE html>
<html lang="en">
<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>FX Bubbles</title>
</head>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../../partials/admin/admin_navbar.ejs') %>
    <!-- end navbar -->

    <main class='container'>
        <!-- add an cours -->
        <div class="form" id="courss_add">

            <header class="form__header">
                <h2 class="form__title">Ajouter un cours:</h2>
            </header>

            <form class="form__body" action="/admin/cours/new" method="POST">
                <input class="form__input" type="text" name="title" placeholder="Titre du cours" required>
                <input class="form__input" type="text" name="cours" id="coursInput" placeholder="" required>
                <textarea class="form__input --textaera" type="text" rows="10" name="description" placeholder="Description du cours" required></textarea>
                <div class="form__input__group">
                    <select class="form__input --select" name="category">
                        <option value="workshop">Workshop</option>
                        <option value="festival">Festival</option>
                        <option value="conférence">Conférence</option>
                        <option value="concours">Concours</option>
                        <option value="autres">Autres</option>
                    </select>
                    <div id="upload_widget" class="form__button --upload"><i class="fas fa-plus"></i> cours </div>
                </div>

                <!-- ajout du form cloudinary -->
                

                <button class="form__button --submit"> Ajouter ce cours </button>
            </form>

        </div>
    
        <div class="stack" id="cours_list">
            <header class="stack__header">
                <h2 class="stack__tile">Tous les cours:</h2>
            </header>

            <% if(courss){courss.forEach(cours => { %>
                <div class="card" id=<%= cours.id %>>
                    <div class="card__body" >
                        <h3 class="card__title"><%= cours.title %></h3>
                        <div class="card__action">
                         
                            <button type="button" onclick="seeEvent(event.currentTarget)" class="form__button --edit"><i class="far fa-eye"></i></button>
                            <!-- <a class="button" href="/admin/edit/<%= cours.id %>"> -->
                            <button  type="button" class="form__button --edit"><i class="far fa-edit"></i></button>
                            <!-- <a class="button" href="/admin/edit/<%= cours.id %>"> -->
                                <a href="./cours/remove/<%= cours._id %>" class="form__button --edit"><i class="far fa-trash-alt"></i></a> 
                        </div>
                    </div>
                    <div class="card__subbody">
                            <%= cours.description %>
                            <%- include('../../components/admin/admin_cours_edit.ejs',{idCours: cours.id})%>
                    </div>
                    
                </div>
            <% }) }else{%>
            <div>
                <h3>Il n'y a aucun cours enregistré!</h3>
                <% }%>    
            </div>

        </div>
    </main>
    <!-- scripts -->
    <%- include('../../partials/script.ejs') %>
    <script src="../js/admin_event.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
//         var myWidget = cloudinary.createUploadWidget({
//   cloudName: 'fx-bubbles', uploadPreset: 'MikeSide', folder: 'widgetUpload', cropping: true}, 
//   (error, result) => { console.log(error, result) })
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'fx-bubbles', 
  uploadPreset: 'MikeSide'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the cours info: ', result.info); 
      document.getElementById('coursInput').value = result.info.url
    }
  }
)
  document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
    </script>

    <!-- fin scripts -->
</body>
</html>